.Login {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
    label {
        display: block;
        margin-top: 10px;
    }
    input {
        width: 150px;
        text-align: center;
    }
    button {
        display: block;
        margin: auto;
        margin-top: 20px;
        width: 100px;
        padding: 7px 10px;
    }
}