.About {
  max-width: 1200px;
  margin: auto;
  
  .About-Para {
    text-align: justify;
    font-size: 14px;
    max-width: 600px;
    margin: auto 20px;
  }
  .About-Qwig {
    font-family: 'Qwigley';
    font-size: 40px;
  }
}