.Contact {
  label {
    display: block;
    margin: 20px;
  }
  input {
    margin: 0px 20px;
  }
  textarea {
    display: block;
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 20px;
  }
}