.Home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 10;
  overflow: hidden;
}
.Home_Background {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
.Home_Background_Pic {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: block;
  position: relative;
  object-fit: cover;
  left: 50%;
  transform: translateX(-50%);
}
.Home_Container {
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  border-radius: 50px;
  max-width: 700px;
  padding: 30px 0;
  width: 90%;
  position: relative;
  color: white;
  z-index: 100;
  // background: rgba(0, 0, 0, 0.4);
}
.Home_Text {
  width: 90%;
  margin: auto;
}
.Home_Title {
  font-size: 70px;
  font-weight: 500;
  font-family: 'Dosis';
  margin: 0;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
}
.Home_Link {
  margin: auto;
  display: block;
  margin-top: 30px;
  border: 2px solid white;
  border-radius: 3px;
  padding: 5px 40px;
  font-weight: bolder;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px;
  width: fit-content;
  color: white;
  text-decoration: none;
  transition: background 0.3s;
}
.Home_Link:hover {
  background: rgba(255, 255, 255, 0.3);
}
.Home_Social {
  z-index: 10;
  max-width: 30px;
  width: 30px;
  position: absolute;
  bottom: 20px;
  margin: auto;
  margin-top: 20px;
  color: white;
  transform: translateX(-50%);
  left: 50%;
  img {
    width: 100%;
    filter: invert(100%);
  }
}
@media screen and (max-width: 570px) {
  .Home_Title {
    font-size: 40px;
  }
}