.Navbar {
  padding: 15px 0px;
  background-color: white;
  // position: fixed;
  // top: 0;
  // z-index: 100;
  // width: 100%;
  .Navbar-Link {
    margin: 10px 20px;
    text-decoration: none;
    color: black;
  }
}